@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnToken" value="@ViewBag.Token" />
<div data-ng-include="template.url" id="MainDiv"></div>
@Scripts.Render("~/Scripts/AdminLayout/CategoryController.js")
@Scripts.Render("~/Scripts/AdminLayout/TradeController.js")
@Scripts.Render("~/Scripts/AdminLayout/MainContractorController.js")
@Scripts.Render("~/Scripts/AdminLayout/ProjectTypeController.js")
@Scripts.Render("~/Scripts/AdminLayout/RoleController.js")
@Scripts.Render("~/Scripts/AdminLayout/ValidationAgencyController.js")
@Scripts.Render("~/Scripts/AdminLayout/CourseMasterController.js")
@Scripts.Render("~/Scripts/AdminLayout/DeptZoneController.js")
@Scripts.Render("~/Scripts/AdminLayout/PlantController.js")
@Scripts.Render("~/Scripts/AdminLayout/PlantTradeTrackingController.js")
@Scripts.Render("~/Scripts/AdminLayout/EmployeeController.js")
@Scripts.Render("~/Scripts/AdminLayout/EmployeeTypeController.js")
@Scripts.Render("~/Scripts/AdminLayout/RollFormMappingController.js")
@Scripts.Render("~/Scripts/ValidationProcess/CandidatesForValidationController.js")
@Scripts.Render("~/Scripts/ValidationProcess/ValidationProcessController.js")
@Scripts.Render("~/Scripts/ValidationProcess/ValidatedCandidatesController.js")

@Scripts.Render("~/Scripts/AdminLayout/jquery.webcam.js")
@Scripts.Render("~/Scripts/AdminLayout/DepartmentController.js")
@Scripts.Render("~/Scripts/AdminLayout/SubContractorController.js")
@Scripts.Render("~/Scripts/AdminLayout/ValidationTestController.js")
@Scripts.Render("~/Scripts/AdminLayout/ValidationTestQuetionController.js")
@Scripts.Render("~/Scripts/SkillMatrics/SkillController.js")
@Scripts.Render("~/Scripts/SkillMatrics/SkillCreationController.js")

@Scripts.Render("~/Scripts/AssesmentProcess/CandidatesForAssesmentController.js")
@Scripts.Render("~/Scripts/AssesmentProcess/AssessedCandidatesController.js")
@Scripts.Render("~/Scripts/AssesmentProcess/AssessmentReportController.js")

@Scripts.Render("~/Scripts/TrainingProcess/TrainedCandidatesController.js")
@Scripts.Render("~/Scripts/TrainingProcess/CandidatesForTrainingController.js")
@Scripts.Render("~/Scripts/TrainingProcess/TrainingProcessController.js")
@Scripts.Render("~/Scripts/ValidationProcess/UserRollMappingController.js")
@Scripts.Render("~/Scripts/ValidationProcess/ValidationEntryFormController.js")
@Scripts.Render("~/Scripts/HR/DMJoiningProcessController.js")

