<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    @Styles.Render("~/Content/AdminLayout/bootstrap.min.css")
    
    
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/Scripts/AdminLayout/jquery-2.2.3.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap.min.js")
    @Scripts.Render("https://code.angularjs.org/1.7.8/angular.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/App.js")
</body>
</html>