<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CR ASIA | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/AdminLayout/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Scripts.Render("~/Scripts/AdminLayout/jquery-2.2.3.min.js")

    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery-ui.min.js")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap.min.js")
    <!-- Morris.js charts -->
    @Scripts.Render("~/Scripts/AdminLayout/raphael.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/morris.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.sparkline.min.js")
    <!-- jvectormap -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/jquery-jvectormap-world-mill-en.js")
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    @Scripts.Render("~/Scripts/AdminLayout/moment.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/daterangepicker.js")
    <!-- datepicker -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap-datepicker.min.js")
    <!-- Bootstrap WYSIHTML5 -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap3-wysihtml5.all.min.js")
    <!-- Slimscroll -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.slimscroll.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/Scripts/AdminLayout/fastclick.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Scripts/AdminLayout/adminlte.min.js")
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.knob.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/datehelper.js")
    @Scripts.Render("~/Scripts/AdminLayout/angular.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/App.js")
    @Scripts.Render("~/Scripts/Adminlayout/common.js")
    @Scripts.Render("~/Scripts/Adminlayout/ShowCustomAlert.js")
    <style>
               .submitPopup {
	display: none;
	z-index: 70000;
	position: absolute;
}
.overlay {
	background: #fff;
	bottom: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}



#alertBox .overlay {
	background: #000;
	opacity: 0.8;
}
.submitPopupPanel {
	background: #e9edf0 !important;
	color: #000 !important;
	font-size: 1.1em;
	/*margin-top:-95px;*/
	margin-left: -150px;
	position: fixed;
	text-align: center;
	top: 20%;
	left: 50%;
	width: 300px;
	z-index: 70000;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
	border: 3px solid #dfe4e8;
}
.submitPopupPanel .legendBtn {
	margin: 20px 0 0 0;
	width: 100%;
}
.submitPopupPanel .legendBtn li:last-child {
	margin: 0;
}
.submitPopupPanel .legendBtn li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px 0 0;
}

    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>C</b>R</span>
                <span class="logo-lg"><b>CR</b>ASIA</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Images/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Naresh Shinde</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/Images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Naresh Shinde - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" onclick="LogOff()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @*<div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Images/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Naresh Shinde</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>*@
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    

                    <li class="active">
                        <a href="@Url.Action("index","dashboard")">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Masters</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("index","ProjectType")"><i class="fa fa-circle-o"></i>Project Type</a></li>
                            <li><a href="@Url.Action("index","Contractor")"><i class="fa fa-circle-o"></i>Contractor</a></li>
                            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i>Zone</a></li>
                            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i>Plant</a></li>
                            <li><a href="@Url.Action("index","EmployeeType")"><i class="fa fa-circle-o"></i>Employee Type</a></li>
                            <li><a href="@Url.Action("index","Category")"><i class="fa fa-circle-o"></i>Trade Category</a></li>
                            <li><a href="@Url.Action("index","Trade")"><i class="fa fa-circle-o"></i>Trade </a></li>
                            <li><a href="@Url.Action("Index","Role")"><i class="fa fa-circle-o"></i>Role</a></li>
                            <li><a href="@Url.Action("Index","ValidationAgency")"><i class="fa fa-circle-o"></i>Validation Agency</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/widgets.html">
                            <i class="fa fa-th"></i> <span>Widgets</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Charts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>UI Elements</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
                            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
                            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
                            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
                            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
                            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="pages/calendar.html">
                            <i class="fa fa-calendar"></i> <span>Calendar</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-red">3</small>
                                <small class="label pull-right bg-blue">17</small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="pages/mailbox/mailbox.html">
                            <i class="fa fa-envelope"></i> <span>Mailbox</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow">12</small>
                                <small class="label pull-right bg-green">16</small>
                                <small class="label pull-right bg-red">5</small>
                            </span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i> <span>Examples</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                            <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Level One
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Level Two
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>
                    <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                    <li class="header">LABELS</li>
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2019-2020 <a href="#">Bhargavi Prototech Pvt Ltd </a>.</strong> All rights
            reserved.
        </footer>
    </div>
</body>

</html>
