<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CR ASIA | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/AdminLayout/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Scripts.Render("~/Scripts/AdminLayout/jquery-2.2.3.min.js")

    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery-ui.min.js")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap.min.js")
    <!-- Morris.js charts -->
    @Scripts.Render("~/Scripts/AdminLayout/raphael.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/morris.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.sparkline.min.js")
    <!-- jvectormap -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery-jvectormap-1.2.2.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/jquery-jvectormap-world-mill-en.js")
    <!-- jQuery Knob Chart -->
    <!-- daterangepicker -->
    @Scripts.Render("~/Scripts/AdminLayout/moment.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/daterangepicker.js")
    <!-- datepicker -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap-datepicker.min.js")
    <!-- Bootstrap WYSIHTML5 -->
    @Scripts.Render("~/Scripts/AdminLayout/bootstrap3-wysihtml5.all.min.js")
    <!-- Slimscroll -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.slimscroll.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/Scripts/AdminLayout/fastclick.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Scripts/AdminLayout/adminlte.min.js")
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/Scripts/AdminLayout/jquery.knob.min.js")
    @Scripts.Render("~/Scripts/AdminLayout/datehelper.js")
    @Scripts.Render("~/Scripts/AdminLayout/angular.min.js")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    @Scripts.Render("~/Scripts/AdminLayout/App.js")
    @Scripts.Render("~/Scripts/Adminlayout/common.js")
    @Scripts.Render("~/Scripts/Adminlayout/ShowCustomAlert.js")

    
    <style>
               .submitPopup {
	display: none;
	z-index: 70000;
	position: absolute;
}
.overlay {
	background: #fff;
	bottom: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
}



#alertBox .overlay {
	background: #000;
	opacity: 0.8;
}
.submitPopupPanel {
	background: #e9edf0 !important;
	color: #000 !important;
	font-size: 1.1em;
	/*margin-top:-95px;*/
	margin-left: -150px;
	position: fixed;
	text-align: center;
	top: 20%;
	left: 50%;
	width: 300px;
	z-index: 70000;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
	border: 3px solid #dfe4e8;
}
.submitPopupPanel .legendBtn {
	margin: 20px 0 0 0;
	width: 100%;
}
.submitPopupPanel .legendBtn li:last-child {
	margin: 0;
}
.submitPopupPanel .legendBtn li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px 0 0;
}

    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" data-ng-app="CRAdminApp" data-ng-controller="TemplateController">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="logo" />
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Images/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Naresh Shinde</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/Images/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Naresh Shinde - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" onclick="LogOff()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <a href="#" data-ng-click="LoadUserControls('employee')">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Masters</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                           
                            <li><a href="#" data-ng-click="LoadUserControls('ProjectType')"><i class="fa fa-circle-o"></i>Project Type</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('Contractor')"><i class="fa fa-circle-o"></i>Contractor</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('SubContractor')"><i class="fa fa-circle-o"></i>Sub Contractor </a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('DeptZone')"><i class="fa fa-circle-o"></i>Dept Zone</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('Department')"><i class="fa fa-circle-o"></i>Sub Department Creation</a></li>
                             <li><a href="#" data-ng-click="LoadUserControls('Plant')"><i class="fa fa-circle-o"></i>Plant</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('PlantTradeTracking')"><i class="fa fa-circle-o"></i>Plant Trade Tracking</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('EmployeeType')"><i class="fa fa-circle-o"></i>Employee Type</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('TradeCategory')"><i class="fa fa-circle-o"></i>Trade Category</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('Trade')"><i class="fa fa-circle-o"></i>Trade </a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('Role')"><i class="fa fa-circle-o"></i>Role</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('RollFormMapping')"><i class="fa fa-circle-o"></i>Roll Form Mapping</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('CourseMaster')"><i class="fa fa-circle-o"></i>Course Master</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('ValidationAgency')"><i class="fa fa-circle-o"></i>Validation Agency</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('ValidationTest')"><i class="fa fa-circle-o"></i>Validation Test</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('ValidationTestQuetion')"><i class="fa fa-circle-o"></i>Validation Test Quetion</a></li>
                             </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Validation Process</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#" data-ng-click="LoadUserControls('CandidatesForValidation')"><i class="fa fa-circle-o"></i>Candidates For Validation</a></li>
                            <li><a href="#" data-ng-click="LoadUserControls('ValidatedCandidates')"><i class="fa fa-circle-o"></i>Validated Candidates</a></li>
                        </ul>
                    </li>

</ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="contentLoader">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <div class="mainLoader" id="rclLoader" style="display: none;">
            <div class="mainLoaderImg"></div>
            <div class="lyfBg"></div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2019-2020 <a href="#">Bhargavi Prototech Pvt Ltd </a>.</strong> All rights
            reserved.
        </footer>
    </div>
</body>

</html>
